@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
input,
textarea {
  outline: none;
  border-width: 0px;
}
textarea {
  resize: none; /* Запрещаем изменять размер */
}
body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  position: relative;
  color: white;
  font-size: 18px;
  background-color: #010100;
  /* overflow-x: hidden; */
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
/* =================================logo btn================= */
.slide-reclame {
  width: 93px;
  height: 81px;
  border-radius: 0px 0px 10px 0px;
  position: absolute;
  background-color: white;
}
.off-bit_img {
  width: 44px;
  height: 50px;
  background-image: url("../img/offbitlogo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 18px 8.7px 13px 40px;
}
/* =====================================logo btn ends  */
/* burger */
.burger {
  display: none;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 28px;
  right: 20px;
  background-image: url("../img/icons/burger.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
/* burger */
/* list-menu */
.list-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 12;
  background-color: #6dce97;
  color: white;
  font-size: 20px;
  /* margin-left: -30px; */
}
.hide {
  display: none;
}
.flex-cross_andlist {
  position: relative;
}
.cross {
  position: absolute;
  top: -31px;
  right: 13px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/cross.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.andlist {
  margin-top: 45px;
}
.andlist-list2 {
  display: flex;
  justify-content: start;
  margin-left: 32px;
}
.horizontal {
  background-color: #a6e8a6;
  margin-top: 30px;
  border-color: #a6e8a6;
  margin-left: 30px;
  margin-right: 30px;
}
.andlist-item {
  font-size: 21px;
  margin-top: 30px;
  margin-left: 30px;
  transition: all 0.5s;
}

.andlist-item2 {
  font-size: 21px;
  margin-top: 30px;
  /* margin-left: 30px; */
}
.andlist-item3 {
  font-size: 21px;
  margin-top: 30px;
  margin-left: 30px;
}
/* EFFECTS */
.andlist-item:active {
  color: #1c1c1c;
}
.andlist-item:hover {
  color: #1c1c1c;
}

/* list-menu */
/* CONTAINER OF CITE */
.wrapper {
  margin: 0 auto;
  max-width: 1360px;
  /* z-index: -100; */
}
/* CONTAINER OF CITE END*/
/* Main screen of the site */

.main {
  min-height: 100vh;
  background-image: url("../img/fone.gif");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  /* background-position: center center; */
}
/* NAVIGATOR */
.header {
  margin-left: 10px;
  margin-right: 10px;
}
.header_navigator {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
}
.nav-bar1_list {
  display: flex;
  list-style: none;
  margin-top: 46px;
}

.nav-bar2 {
  display: flex;
  margin-top: 46px;
  margin-right: 50px;
}
.nav-bar1_list-item {
  margin-left: 30px !important;
  transition: 0.2s;
}
.nav-bar1_list-item:hover {
  color: #6DCE97;
}

.nav-bar2_social {
  margin-top: -15px;
  width: 108px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
}
.nav-bar2_phones {
  margin-left: 14px;
}
.nav-bar2_phones-list {
  display: flex;
}
.fi-brands-telegram {
  font-size: 18px;
  color: white;
}
.social_items {
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
}
.social_items-1 {
  width: 18px;
  height: 18px;
  margin-top: 10px;
  margin-left: 10px;
}
/* NAVIGATOR END */
/* MAIN TITLE "OFFBIT" s*/
.offbit {
  text-align: center;
  position: relative;
  font-size: 240px;
  font-weight: 400;
  padding: 0;
  font-family: Playfair Display;
  margin-top: 94px;
  margin-left: 10px;
  margin-right: 10px;
}
.offbit::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 191px;
  height: 217px;
  top: 137px;
  left: 17%;
  z-index: 10;
  background-image: url("../img/bubbles.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.wrapper-title {
  /* max-width: 50%; */
  margin: 0 auto;
}
.descr1 {
  margin-top: -199px;
  padding-top: 0px;
  font-family: Playfair Display;
  font-size: 42px;
}
.descr2 {
  margin-top: 0px;
  margin-right: 225px;
  padding-top: 0px;
  font-family: Playfair Display;
  font-size: 42px;
}
.descr3 {
  font-family: Playfair Display;
  margin-top: 60px;
  font-size: 36px;
  color: #6dce97;
  font-weight: 400;
}
/* MAIN TITLE "OFFBIT" e */
/* calculator s*/
.offbit-title {
  padding-bottom: 30px;
  background-image: url("../img/fone-offbit.png");
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-attachment: fixed; */
  background-position: top center;
}
.forma-calculator_flex {
  margin-top: 94px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.forma-calculator_flex-calculator {
  display: flex;
  justify-content: space-around;
  width: 660px;
  height: 160px;
  border-radius: 20px;
  border: 1px solid var(--white-15, rgba(255, 255, 255, 0.15));
  background: var(
    --glass,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.49) 100%
    )
  );
  backdrop-filter: blur(10.5px);
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.social-link_know-more {
  margin-left: 40px;
  width: 194px;
  height: 160px;
  border-radius: 20px;
  border: 1px solid var(--white-15, rgba(255, 255, 255, 0.15));
  background: var(
    --glass,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.49) 100%
    )
  );
  backdrop-filter: blur(10.5px);
}
.calc_descr {
  color: #1c1c1c;
  font-size: 20px;
  font-weight: 400;
}
.calc-btn_btn {
  width: 270px;
  height: 64px;
  background-color: #1c1c1c;
  color: white;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
  border: 0px solid;
}
.social-link_know-more_image {
  width: 64px;
  height: 64px;
}
.social-link_know-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tilda {
  margin-left: 14px;
}
/* calculator e */
/* Shell list question 01 s */
/* f-s-q-01 */
.f-q-s-01 {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  margin-left: 15px;
  margin-right: 15px;
  z-index: 10;
}
.shell_answer {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  position: relative;
}
.answer-question_block-paper {
  margin-right: 10px;
  margin-left: 15px;
  position: relative;
  z-index: 10;
  width: 893px;
  height: 912px;
  border-radius: 20px;
  border: 1px solid var(--white-15, rgba(255, 255, 255, 0.15));
  background: var(
    --glass,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.49) 100%
    )
  );
  backdrop-filter: blur(10.5px);
  z-index: 10;
}
.shell_answer::after {
  content: "";
  position: absolute;
  width: 560px;
  height: 560px;
  background-image: url("../img/shell.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  z-index: 10;
  left: 148px;
  top: 523px;
}
/* q-paper-block */
/* question paper */
.items_question-block-block {
  width: 610px;
  display: flex;
  justify-content: start;
  padding: 30px 0px 60px 0px;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(166, 232, 166, 0.2);
  margin: 0 auto;
  margin-left: 50px;
  z-index: 10;
}
.tiger-no{
  border-bottom: 0px solid;
}
.num-item {
  background-color: #1c1c1c;
  border-radius: 50%;
  padding: 9px 13px;
}
.question-text > p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-left: 10px;
}
.send {
  margin-top: -6px;
  margin-left: 40px;
}
.send-btn {
  width: 270px;
  height: 64px;
  background-color: #1c1c1c;
  border-radius: 17px;
  color: white;
  cursor: pointer;
  border-width: 0px;
}

.shell_answer::before {
  content: "01";
  color: rgba(33, 39, 33, 0.5);
  font-family: Playfair Display;
  z-index: 10;
  font-size: 600px;
  font-weight: 400;
  top: -321px;
  left: -115px;
  position: absolute;
}
/* Shell list question start 02 e */
/* Main screen of the site is ended here! */
/*black rebons, 02 - white-bg and spring and list of advice -s*/
.body {
  background-color: #ebecf1;
  min-height: 1500px;
  padding-top: 10px;
  padding-bottom: 200px;
  color: #010100;
}

/* ribbons!!!!!! -s*/
.ribon {
  width: 100%;
  height: 20px;
  background-color: #010100;
  margin-bottom: 10px;
  z-index: 1;
}
.dist {
  height: 51px;
  /* margin-top: 10px; */
}
.dist2 {
  height: 34px;
}
.dist3 {
  height: 26px;
}
.dist4 {
  height: 15px;
}
/* ribbons!!!!!! -e*/
/* 02 service and spring -s */
/* problem in that  */
.section-title-spring_flex {
  /* margin-top: -120px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 15px;
}

/* And */
.section-title_text {
  position: relative;
  font-family: "Playfair Display", serif;
  color: #1c1c1c;
  font-size: 36px;
  font-weight: 700;
  margin-left: 10px;
}
.section-title_text::before {
  content: "02";
  color: rgb(205, 202, 202);
  font-family: Playfair Display;
  font-size: 600px;
  font-weight: 400;
  position: absolute;
  opacity: 50%;
  top: -543px;
  left: -122px;
}
/* And */
.section-spring_image {
  width: 30%;
  height: 400px;
  transform: rotate(3.867deg);
  background-image: url("../img/spring.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
/* 02 service and spring -e */
/* Main flex of The List of advice and green spring -s */
.body-flex {
  display: flex;
  justify-content: space-around;
}
/* Main flex of The List of advice and green spring -e */
/* spring-green -s */
.spring-02 {
  width: 10%;
  height: 379px;
  background-image: url("../img/spiral-nice.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
/* spring-green -e */
/* list advice -s */
.list-advice_flex-column {
  width: 90%;
  padding: 50px 39px 0px 42px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 0px;
}
.advice-important {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #959595;
}
.advice-important2 {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 100px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #959595;
}
/* hover effects here -s*/
.advice-important2:hover{
  opacity: 60%;
}
.advice-important:hover{
  opacity: 60%;
}
.advice-important3:hover{
  opacity: 60%;
}
.advice-important:hover > .indicator-advice{
  background-image: url("../img/icons/green_star-on.png");
}
.advice-important2:hover > .indicator-advice{
  background-image: url("../img/icons/green_star-on.png");
}
.advice-important3:hover > .indicator-advice{
  background-image: url("../img/icons/green_star-on.png");
}

/* hover effects here -e*/

.advice-important3 {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 100px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #959595;
}

/* Данные для JS and CSS-hover -s*/
.name-advice > p {
  color: #1c1c1c;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
}
.name-advice {
  width: 25%;
}
.text-advice > p {
  color: #1c1c1c;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  margin-left: 40px;
}
.text-advice {
  max-width: 60%;
}
.indicator-advice {
  width: 60px;
  height: 60px;
  background-image: url("../img/icons/black_star-off.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 30px;
}
/* Mobile ver. block list of advice -s  */
.liftup {
  margin-top: -143px;
}
/* mobile hover effects -s*/
.mobile-list_adv:hover{
  opacity: 60%;
}
.mobile-list_adv:hover > .l-adv_mobflex1 > .indicator-advice{
  background-image: url("../img/icons/green_star-on.png");
}
/* mobile hover effects -e*/
.mobile-list_adv {
  display: none;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #1c1c1c;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.l-adv_mobflex1 {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-advice_mob {
  color: #1c1c1c;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
}
.text-advice_mob {
  margin-top: 15px;
  color: #1c1c1c;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
}
/* Mobile ver. block list of advice -e  */
/* list advice -e */
/* New block slider -s */
/* Slick-slider-styles -s*/
/* ШПАРГАЛКА СЛИК СЛАЙДЕР */
/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
  opacity: 30%;
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

/* ====================================================== */
/* My styles to the slider*/
.slider {
  top: 40px;
  position: relative;
  padding: 0px 60px;
  
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 20px;
  height: 30px;
  border-style: solid;
  border-width: 0px;
}
.slider .slick-arrow.slick-prev {
  background-color: inherit;
  left: 0;
  background-image: url(../images/ARROW\ _\ DOWN\ copy\ 2.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.slider .slick-arrow.slick-next {
  background-color: inherit;
  right: 0;
  background-image: url(../images/ARROW\ _\ DOWN\ copy.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.slider__item {
}
/* .slick-list {
  overflow:visible;
} */
/* dots */

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.slider .slick-dots li {
  list-style: none;
}
/* Активная точка */
.slider .slick-dots li.slick-active button {
  background-color: #A6E8A6;
  border-width: 0px;
}
/* Элемент точки */
.slider .slick-dots li button {
  font-size: 0;
  width: 90px;
  height: 10px;
  border: 0px solid;
  /* border-radius: 20px; */
  margin-left: 0px;
  /* background-color: green; */
}
/* +individual styles for the block "Carta!" v1 and v2. 
Look! This exact info for copy. I try to do it saparately.  -SSSSSSSSS*/
/* ...code */
/* .sliderr {
  display: flex;
  justify-content: space-around;
} */
.carta1 {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-left: 60px;
}
.carta2 {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  /* margin-left: -190px; */

  /* 1300px =) */
  margin-left: -100px
}

.cartav1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 387px;
  height: 492px;
  border-style: solid;
  border-radius: 25px 25px 0px 25px;
  border-color: #1c1c1c;
  background-color: #1c1c1c;
}
.img-carta {
  width: 92%;
  height: 95%;
  background-image: url("../img/detail.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.img-carta2 {
  width: 92%;
  height: 95%;
  background-image: url("../img/construct-plan.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.img-carta3 {
  width: 92%;
  height: 95%;
  background-image: url("../img/store.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.cartav2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 387px;
  height: 492px;
  border-style: solid;
  border-radius: 0px 25px 25px 25px;
  border-color: #1c1c1c;
  background-color: #1c1c1c;
}
.cartav3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 387px;
  height: 492px;
  border-style: solid;
  border-radius: 25px 25px 0px 25px;
  border-color: #1c1c1c;
  background-color: #1c1c1c;
}
.miny-carta-v2 {
  width: 200px;
  height: 200px;
  background-color: #1c1c1c;
  border-style: solid;
  border-width: 0px;
  border-radius: 25px 0px 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.miny-carta-v4{
  width: 200px;
  height: 200px;
  background-color: #1c1c1c;
  border-style: solid;
  border-width: 0px;
  border-radius: 25px 0px 0px 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.miny-carta-v1 {
  width: 200px;
  height: 200px;
  background-color: #1c1c1c;
  border-style: solid;
  border-width: 0px;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}
.content-v1-miny-carta {
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-top: 20px;
}
.btn-v1-miny-carta {
  margin-top: 10px;
  margin-right: 20px;
  font-size: 12px;
}
/* .btn-v1-miny-carta:nth-child(2){
  margin-left: 10px;
} */
.btn-carta {
  padding: 8px 8px 10px 8px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #1c1c1c;
  color: white;
  margin-top: 8px;
}
.carta-circle {
  width: 45px;
  height: 45px;
  background-image: url("../img/icons/green_star-on.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  /* margin-bottom: 20px;
  margin-right: 20px; */
}
/* +individual styles for the block "Carta!" v1 and v2. 
Look! This exact info for copy. I try to do it saparately.  -EEEEEEEEE*/
/* Slick-slider-styles -e*/
/* Дополнительные стили к этому блоку к элементам не относящимся к слайдеру */
.tryasyou {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 100px;
}
.trypressme {
  width: 270px;
  height: 64px;
  border-radius: 17px;
  background: var(--off_black, #1C1C1C);
  color: white;
  border-style: solid;
  border-width: 0px;
  border-radius: 8px;
  
}
/* Дополнительные стили к этому блоку к элементам не относящимся к слайдеру */
.slider-block {
  background-image: url("../img/bg-slider.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-bottom: 100px;
}
.title-slider {
  margin-top: 122px;
  display: flex;
  justify-content: space-between;
}
.slider-block {
  padding-top: 55px;
  margin-top: -1px;
  background-color: #ebecf1;
  height: 100vh;
}
.title-03 {
  position: relative;
  font-family: Playfair Display;
  color: #1c1c1c;
  font-size: 36px;
  font-weight: 700;
  margin-left: 15px;
  position: relative;
  margin-left: 20px;
}
.title-03::before {
  content: "03";
  font-family: Playfair Display;
  position: absolute;
  color: rgb(170, 170, 170);
  /* z-index: -100; */
  font-size: 600px;
  font-weight: 400;
  top: -373px;
  left: -89px;
  opacity: 80%;
}
.num-03 {
  color: rgb(205, 202, 202);
  font-family: Playfair Display;
  font-size: 600px;
  font-weight: 400;
  opacity: 50%;
  margin-top: -400px;
  margin-bottom: -400px;
}
/* This slider-s  */
.cart-box {
  margin: 0 20px;
  padding-top: 20px;
  width: 350px;
  height: 452px;
  background-color: #1c1c1c;
}
.img {
  width: 280px;
  height: 312px;
  margin: 0 auto;
  border-style: solid;
  border-width: 0px;
  border-radius: 16px;
  background-image: url("../img/detail.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.img2 {
  width: 280px;
  height: 312px;
  margin: 0 auto;
  border-style: solid;
  border-width: 0px;
  border-radius: 16px;
  background-image: url("../img/construct-plan.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.img3 {
  width: 280px;
  height: 312px;
  margin: 0 auto;
  border-style: solid;
  border-width: 0px;
  border-radius: 16px;
  background-image: url("../img/store.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.flex-nav-main {
  display: flex;
  justify-content: center;
  align-items: end;
}
.flex-nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.nav-flex-slider {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.flex-nav > h1 {
  font-size: 12px;
}
/* кнопочки */
.flex-nav-mini {
  display: flex;
  justify-content: center;
  margin-right: 100px;
  margin-left: -10px;
}
.flex-nav-mini > button {
  padding: 8px 8px 10px 8px;
  border: 1px solid #fff;
  background-color: #1c1c1c;
  border-radius: 8px;
  color: white;
  font-size: 12px;
  margin-left: 10px;
}
.nav-star {
  width: 60px;
  height: 60px;
  border-style: solid;
  border-width: 0px;
  border-radius: 50%;
  background-color: #a6e8a6;
  background-image: url("../img/icons/green_star-on.png");
}
/* this slider -e */
/* New block slider -e */
/*slider of companies*/
.section-slider_companies {
  height: 100vh;
  background-color: #ebecf1;
  margin-top: 150px;
  padding-top: 100px;
  margin-top: -1px;
  padding-bottom: 70px;
}
.companies-slider {
  display: flex;
  justify-content: space-evenly;
}
.slider-companies_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-title_text-colabour {
  font-family: "Playfair Display", serif;
  color: #1c1c1c;
  font-size: 36px;
  font-weight: 700;
  z-index: 10;
  margin-top: 145px;
  margin-left: 15px;
  position: relative;
}
.section-title_text-colabour::before {
  content: "04";
  font-family: Playfair Display;
  position: absolute;
  color: rgba(33, 39, 33, 0.5);
  z-index: -100;
  font-size: 600px;
  font-weight: 400;
  top: -470px;
  left: -110px;
}
/* .section-title_text {
  display: flex;
  justify-content: space-between;
} */
.abstraction {
  width: 1044px;
  height: 290px;
  background-image: url("../img/ribbon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  z-index: 30;
}
/* .com-sl_item1 {
} */
.sticker1 {
  margin: 0 auto;
  width: 203px;
  height: 53px;
  /* border: 1px solid red; */
  background-image: url("../img/kinergo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 97%;
}
.sticker2 {
  margin: 0 auto;
  width: 139.434px;
  height: 138px;
  /* border: 1px solid red; */
  background-image: url("../img/smolcom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 97%;
}
.sticker3 {
  margin: 0 auto;
  width: 190px;
  height: 69.113px;
  /* border: 1px solid red; */
  background-image: url("../img/glav.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 97%;
}
.sticker4 {
  margin: 0 auto;
  width: 173px;
  height: 49.178px;
  /* border: 1px solid red; */
  background-image: url("../img/titan.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 97%;
}
.sticker5 {
  margin: 0 auto;
  width: 124px;
  height: 69px;
  /* border: 1px solid red; */
  background-image: url("../img/kuhmistr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 97%;
}
.sticker6 {
  margin: 0 auto;
  width: 83.335px;
  height: 102px;
  /* border: 1px solid red; */
  background-image: url("../img/greenfam.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 97%;
}
.sticker7 {
  margin: 0 auto;
  width: 146px;
  height: 33.689px;
  /* border: 1px solid red; */
  background-image: url("../img/stampa.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 97%;
}
.com-sl_item1 {
  margin-bottom: -43px;
  width: 210px;
  height: 142px;
  /* border: 1px solid blue; */
}
.companies-slider {
  /* display: flex;
  justify-content: space-around; */
  position: relative;
  z-index: 30;
}
.com-sl_item1 {
  margin-left: 20px;
  margin-top: 50px;
}

/* add command on the cite -s*/
.dscr-com {
  position: relative;
}
.abs-spr
.dscr-com::before {
  content: "05";
  font-family: Playfair Display;
  position: absolute;
  color: rgba(33, 39, 33, 0.5);
  font-size: 600px;
  font-weight: 400;
  top: -524px;
  left: -220px;
}

.slider-command {
  background-color: black;
  margin-top: 100px;
  background-image: url("../img/idea-storm.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.comands-flex {
  display: flex;
  justify-content: space-around;
}
.photo-hum-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.julia {
  width: 250px;
  height: 250px;
  background-image: url("../img/Julia.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.anna {
  width: 250px;
  height: 250px;
  background-image: url("../img/Anna.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.hleb {
  width: 250px;
  height: 250px;
  background-image: url("../img/Hleb.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.Kirill{
  width: 250px;
  height: 250px;
  background-image: url("../img/kirill.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.human-descr {
  padding: 30px 20px;
  width: 300px;
  height: 81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  border-radius: 20px;
  border: 1px solid var(--white-15, rgba(255, 255, 255, 0.15));
  background: var(
    --glass,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.49) 100%
    )
  );
  backdrop-filter: blur(10.5px);
  margin-top: -10px;
}
.human-descr > h5 {
  margin-bottom: 15px;
  font-weight: bold;
  text-align: left;
  font-size: 18px !important;
}
/* add command on the cite -e*/
/* slider-companies -e */
/* ribbons again -s*/
.group {
  background-color: #ebecf1;
 
}
.comands-flex {
  height: 100vh;
  /* background-color: red; */
}

/* ribbons again -e*/
/* FORMA -s */
.block-form {
  margin-top: 220px;
  background-image: url("../img/bubbles-form.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}
.block-form_main-flex {
  display: flex;
  justify-content: center;
}
.wrapper_reg-window {
  width: 888px;
  height: 760px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.49) 100%
  );
  z-index: 10;
  margin-right: 10px;
}
.tl-f {
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 36px;
  font-weight: 700;
  z-index: 10;
  /* margin-top: 145px; */
  margin-left: 10px;
  position: relative;
}
.tl-f::before {
  content: "o6";
  color: rgba(33, 39, 33, 0.5);
  font-family: Playfair Display;
  z-index: -10;
  font-size: 600px;
  font-weight: 400;
  top: -321px;
  left: -115px;
  position: absolute;
}
/* Style's of forma -s */
.form-item1 {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-top: 30px;
}
.form_text-item {
  /* высота-ширина */
  /* отступ внутренний  */
  /* отступ внешний */
}
.main-form_flex {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 200px;
}
.f-t-i_name {
  color: #1c1c1c;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  margin-left: 20px;
}
.field-size {
  background-color: white;
  border-radius: 20px;
  /* высота-ширина */
  width: 63%;
  height: 22px;
  border: 0px solid red;
  /* отступ внутренний  */
  padding: 21px 20px 21px 20px;
  /* отступ внешний */
  margin-top: 10px;
}
.h-size {
  height: 58px;
}
.h-size > textarea {
  width: 95%;
  overflow: hidden;
  font-size: 12px;
}
.field-size > input {
  width: 94%;
  font-size: 12px;
}
.field-size:active {
  border: 1px solid #a2daa0;
  padding: 20px 19px 20px 19px;
}
.field-size:hover {
  border: 1px solid #71d96e;
  padding: 20px 19px 20px 19px;
}
.h-btn {
  width: 25%;
  background-color: #1c1c1c;
}
.h-btn > button {
  background-color: #1c1c1c;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0px auto;
  border-style: solid;
  border-color: inherit;
  border-width: 0px;
  color: white;
}
/* checkbox */
/* .field-size {
} */
.full-sz {
  display: flex;
  /* justify-content: left; */
  background-color: inherit;
  border: 0px solid inherit;
  width: 100%;
}
.checkbox {
  width: 17px;
  height: 17px;
  background-color: inherit;
  border: 0px solid black;
}
.ipt {
  width: 16px;
  height: 16px;
  background-color: inherit;
  border: 1px solid black;
}
.checkbox-descr {
  margin-left: 10px;
  font-size: 12px;
}
.reglament {
  color: #499068;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
}
/* Style's of forma -e */
/* FORMA -e */
/*black rebons, 02 - white-bg and spring and list of advice -e*/
/* footer -s*/
/* FOOTER */
.footer {
  margin-top: 220px;
}
.footer-outside_flex {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  margin-left: 40px;
}
.desc-right {
  margin-top: 54px;
}
.m-f-z-p {
  display: flex;
  margin-right: 5px;
}
.f-1 {
  display: flex;
}
.f-2 {
  display: flex;
}
.desc-right > p {
  color: var(--dark-gray, #959595);
  font-size: 8px;
  font-weight: 400;
}
/* LOGO FOOTER */

.footer {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-width: 1px 0px 0px 0px;
  padding-bottom: 30px;
}
.slide-reclame2 {
  width: 93px;
  height: 81px;
  border-radius: 0px 0px 10px 0px;
  background-color: white;
}
.off-bit_img2 {
  width: 44px;
  height: 50px;
  background-image: url("../img/offbitlogo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 18px 8.7px 13px 40px;
}
/* lists */

.flex-footer_list-items {
  display: flex;
  justify-content: space-around;
}
.div1-list-items {
  margin-top: 30px;
}
.list-items {
}
.item1 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
}
.item2 {
  margin-top: 15px;
  margin-left: 0px;
  width: 30px;
  height: 30px;
}
.item3 {
  margin-top: 15px;
  margin-left: 0px;
  width: 19px;
  height: 19px;
  margin-left: 10px;
}
.list-items_flex {
  display: flex;
  justify-content: left;
}
.div2-list-items {
}
.item-text {
  /* max-width: 661px; */
  color: #959595;
  font-size: 12px;
  font-weight: 400;
}
.item-text:hover {
  color: #959595;
}
.add-space {
}

.list-items:first-child {
  color: #959595;
  font-size: 12px;
  font-weight: 400;
}
.it1 {
  margin-left: 45px;
}
.it2 {
  margin-left: 45px;
}
.it3 {
  margin-left: 45px;
}
.it4 {
  margin-left: 45px;
}

.w-p {
  background-image: url("../img/icons/w-p.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.v-r {
  background-image: url("../img/icons/v-r.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.t-m {
  background-image: url("../img/icons/t-m.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.i-m {
  margin-left: 0px;
  background-image: url("../img/icons/i-m.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.vk-t {
  background-image: url("../img/icons/vk-t.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
/* footer -e*/
/* ADAPTIVE  */
@media(max-width : 1920px){
  .wrapper{
    max-width: 1890px;
  }
}
@media(max-width : 1700px){
  .wrapper{
    max-width: 1650px;
  }
}

@media(max-width : 1300px){
  .wrapper{
    max-width: 1290px;
  }
}



@media(max-width : 1200px){
  .wrapper{
    max-width: 1180px;
  }
  /* adaptivity of slider */
  .carta1 {
    display: block;
    margin-left: 0px;
}
.carta2 {
  display: block;
  margin-left: 0px;
}

  .miny-carta-v1 {
    width: 353px;
    height: 56px;
    background-color: #1c1c1c;
    border-style: solid;
    border-width: 0px;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    margin-top: -1px;
  }
  .miny-carta-v4 {
    width: 353px;
    height: 56px;
    background-color: #1c1c1c;
    border-style: solid;
    border-width: 0px;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    margin-top: -1px;
  }
  .cartav1 {
    /* display: block; */
    border-radius:0px;
  }
  .cartav3{
    /* display: block; */
    border-radius:0px;
  }
  .cartav2{
    /* display: block; */
    border-radius:0px;
    /* width: 345px; */
  }
  .miny-carta-v2{
    width: 353px;
    height: 56px;
    background-color: #1c1c1c;
    border-style: solid;
    border-width: 0px;
    border-radius: 0px 0px 0px 0px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    margin-top: -1px;
  }
  /* adaptivity of slider */
}
@media(max-width : 920px){
  .wrapper{
    max-width: 890px;
  }
}
/* BACKGROUND FONE */
/* 1120px1120px1120px1120px1120px1120px1120px1120px1120px1120px */
@media (max-width: 1120px) {
  .wrapper{
    max-width: 1090px;
  }
  /* Header */
  .section-title_text-colabour {
    font-size: 24px;
  }
  .abstraction {
    width: 500px;
  }

  .offbit::before {
    left: 9%;
  }
  .wrapper {
    max-width: 1080px;
  }
  body {
    font-size: 14px;
  }
  .offbit {
    margin-top: 140px;
    font-size: 180px;
  }
  .descr1 {
    margin-top: -152px;
    font-size: 28px;
  }
  .descr2 {
    margin-top: 2px;
    font-size: 28px;
  }
  .descr3 {
    margin-top: 31px;
    font-size: 26px;
  }
  .question-text > p {
    font-size: 12px;
  }
  .name-advice > p {
    font-size: 12px;
    font-weight: 700;
  }
  .text-advice > p {
    font-size: 12px;
    font-weight: 400;
  }

  .shell_answer::before {
    top: -441px;
  }
  .shell_answer {
    font-size: 24px;
  }
  .title-03 {
    font-size: 24px;
  }
  .section-title_text {
    font-size: 24px;
  }
  .offbit::before {
    background-size: 90%;
  }
  /* Adaptivity form */
  .block-form_main-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wrapper_reg-window {
    width: 92%;
    margin: 0 auto;
  }
  .field-size {
    background-color: white;
    border-radius: 20px;
    width: 100%;
  }
  .main-form_flex {
    margin-left: 20px;
    margin-right: 20px;
  }
  .h-btn {
    width: 40%;
    background-color: #1c1c1c;
  }
}
@media (max-width: 1050px) {
  
  .f-1 {
    display: flex;
    flex-direction: column;
  }
  .f-2 {
    display: flex;
    flex-direction: column;
  }
}
/* 980px980px 980p  980px980px 980px980px980px980px 980px980pxx980px */
@media (max-width: 980px) {
  .wrapper {
    max-width: 940px;
  }
  .nav-bar2_phones-list {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
  }
  .forma-calculator_flex-calculator {
    flex-direction: column;
    justify-content: start;
    width: 538px;
    height: 113px;
    padding: 48px 40px 48px 40px;
    align-items: baseline;
  }
  .calc-btn_btn {
    margin-top: 20px;
  }

  .social-link_know-more {
    flex-direction: column;
    width: 116px;
    height: 209px;
  }
  .tilda {
    margin-left: 0px;
    margin-top: 14px;
  }
  /* queston-block changes in flexbox.... */
  .f-q-s-01 {
    flex-direction: column;
    justify-content: center;
  }
  .offbit::before {
    background-size: 80%;
  }
  .answer-question_block-paper {
    width: 765px;
    margin: 0 auto;
  }
  .items_question-block-block {
    width: 490px;
  }
  .shell_answer::after {
    width: 400px;
    height: 400px;
    left: -190px;
    top: 761px;
  }
  /* PRAVKA */
  .companies-slider {
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
  }
  /* .cube1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  } */
  .com-sl_item1 {
    width: 151px;
    height: 103px;
  }
  .sticker1 {
    width: 144px;
    height: 37px;
  }
  .sticker2 {
    width: 99px;
    height: 98px;
  }
  .sticker3 {
    width: 134px;
    height: 49px;
  }
  .sticker4 {
    width: 127px;
    height: 36px;
  }
  .sticker5 {
    width: 88px;
    height: 48px;
  }
  .sticker6 {
    width: 59px;
    height: 72px;
  }
  .sticker7 {
    width: 87px;
    height: 20px;
  }
}
@media (max-width: 860px) {
  /* The change of this menu. */
  /* .header_navigator {
    display: none;
  } */
  .wrapper {
    max-width: 820px;
  }
  .nav-bar1 {
    display: none;
  }
  .nav-bar2 {
    display: none;
  }
  .burger {
    display: block;
  }
  .forma-calculator_flex-calculator {
    width: 340px;
  }
  .answer-question_block-paper {
    width: 650px;
  }
  /* The change of this menu. */
  /* Form-addaptivity */
}

/* 780px780px780px780px780px780px780px780px780px780px780px780px780px780px */
@media (max-width: 780px) {
  .wrapper{
    max-width: 760px;
  }
  .offbit::before {
    top: 77px;
    left: -2%;
  }
  .item1 {
    font-size: 12px;
  }
  .num-03 {
    font-size: 414px;
    margin-top: -272px;
  }
  .wrapper {
    max-width: 740px;
  }
  /* Header */
  .main {
    background-image: url("../img/mobile-fone.jpg");
  }
  .offbit {
    font-size: 150px;
  }
  .descr1 {
    margin-top: -122px;
    font-size: 20px;
  }
  .descr2 {
    margin-top: 2px;
    font-size: 20px;
  }
  .descr3 {
    margin-top: 31px;
    font-size: 18px;
  }
  .answer-question_block-paper {
    width: 590px;
  }
  /* .num-03 {
    font-size: 334px;
    margin-top: -223px;
} */
}
@media (max-width: 650px) {
  .wrapper{
    max-width: 100%;
  }
  .question-text > p {
    font-size: 9px;
  }
  .num-item > p {
    font-size: 9px;
  }
  .items_question-block-block {
    width: 420px;
  }
  .answer-question_block-paper {
    width: 540px;
  }
}
@media (max-width: 620px) {
  .wrapper{
    max-width: 100%;
  }
  .title-slider {
    margin-top: 0px;
  }
  .descr2 {
    margin-right: 76px;
  }
  .forma-calculator_flex {
    flex-direction: column;
    align-items: center;
  }
  .forma-calculator_flex-calculator {
    justify-content: center;
    align-items: inherit;
  }
  .social-link_know-more {
    margin-top: 20px;
    margin-left: 0px;
    width: 340px;
    height: 104px;
    flex-direction: row;
    padding: 0px 40px 0px 40px;
  }
  .tilda {
    margin-top: 0px;
    margin-left: 14px;
  }
  .calc-btn_btn {
    width: 212px;
    height: 53px;
    font-size: 16px;
  }
  .mobile-list_adv {
    display: flex;
    flex-direction: column;
    /* margin-top: -141px; */
  }
  .body-flex {
    display: none;
  }
  .tl-f::before {
    font-size: 400px;
    top: -206px;
    left: -115px;
  }
  .tl-f {
    font-size: 24px;
  }
  .abstraction {
    width: 250px;
  }
}
/* 580580580580 */
@media (max-width: 580px) {
  /* slider comand*/

  .slider .slick-dots li button {
    font-size: 0;
    width: 65px;
  }
  .wrapper{
    max-width: 100%;
  }
  .title-slider {
    margin-top: -200px;
    flex-direction: row;
  }
  .section-title_text-colabour::before {
    font-size: 300px;
    top: -209px;
    left: -110px;
  }
  .title-03::before {
    top: -159px;
    font-size: 300px;
  }
  .dscr-com::before {
    font-size: 300px;
    top: -209px;
    left: -110px;
}
  .num-03 {
    font-size: 300px;
    margin-top: -150px;
  }
  .abstraction {
    top: 116px;
    left: -93px;
  }

  .items_question-block-block {
    width: 262px;
  }
  .answer-question_block-paper {
    width: 385px;
  }
  .shell_answer::before {
    font-size: 450px;
  }
  .section-title_text::before {
    font-size: 414px;
    top: -442px;
    left: -178px;
  }
  .send-btn {
    width: 188px;
    height: 50px;
  }
  .send {
    margin-top: 30px;
    margin-left: 40px;
  }
  .shell_answer::before {
    font-size: 414px;
    top: -244px;
  }

  .offbit::before {
    background-size: 60%;
  }
  .m-f-z-p {
    display: block;
  }
}
@media(max-width: 520px){
  .wrapper{
    max-width: 100%;
  }
  .cartav2 {
    width: 327px;
    
  }
  .cartav3 {
    width: 327px;
    
  }
  .miny-carta-v4 {
    width: 292px;
  }
  .miny-carta-v1 {
    width: 292px
  }
  .cartav1 {
    width: 327px;
   
  }
  .julia {
    width: 200px;
    height: 200px;
  }
  .anna {
    width: 200px;
    height: 200px;
    
  }
  .hleb {
    width: 200px;
    height: 200px;
    
  }
  .Kirill{
    width: 200px;
    height: 200px;
  }
  .human-descr{
    font-size: 12px
  }
  .human-descr {
    padding: 20px 10px;
    width: 233px;
    height: 62px;
  }
}
/* 460px460px460px460px460px */
@media (max-width: 460px) {
  .wrapper{
    max-width: 100%;
  }
  .offbit {
    font-size: 130px;
  }
  .offbit::before {
    top: 46px;
  }
  .descr1 {
    margin-top: -107px;
    font-size: 20px;
  }
  .descr2 {
    margin-right: 13px;
  }
  .calc_descr {
    font-size: 14px;
  }
  .forma-calculator_flex-calculator {
    width: 280px;
  }
  .social-link_know-more {
    width: 280px;
  }
  .offbit::before {
    /* top: 78px; */
    left: -19%;
  }
  .wrapper_reg-window {
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
  }
}
@media(max-width: 450px){
  .wrapper{
    max-width: 100%;
  }
  /* slider comand */
  .human-descr {
    /* padding: 20px 10px; */
    width: 186px;
  }
  .cartav2 {
    width: 255px;
    height: 390px;
  }
  .cartav3 {
    width: 255px;
    height: 390px;
  }
  .miny-carta-v4 {
    width: 221px;
  }
  .miny-carta-v1 {
    width: 221px
  }
  .cartav1 {
    width: 255px;
    height: 390px;
  }
}
@media (max-width: 420px) {
  .wrapper{
    max-width: 100%;
  }
  .companies-slider {
    /* flex-direction: column;
    flex-wrap: nowrap; */
  }
  .companies-slider {
    margin-top: -99px;
  }
  .offbit {
    font-size: 110px;
  }
  .descr1 {
    margin-top: -90px;
    font-size: 18px;
  }
  .descr2 {
    font-size: 18px;
  }
  .descr3 {
    font-size: 16px;
  }
  .social-link_know-more {
    width: 280px;
  }
  .answer-question_block-paper {
    width: 330px;
  }
  .items_question-block-block {
    width: 219px;
  }
  .list-items:first-child {
    margin-right: 10px;
}
}

@media(max-width: 390px){
  .wrapper{
    max-width: 100%;
  }
  .cartav2 {
    /* width: 255px; */
    height: 390px;
  }
  .cartav3 {
    /* width: 255px; */
    height: 390px;
  }
  .miny-carta-v4 {
    width: 221px;
  }
  .miny-carta-v1 {
    width: 221px
  }
  .cartav1 {
    /* width: 255px; */
    height: 390px;
  }
}
@media(max-width: 385px){
  .wrapper{
    max-width: 100%;
  }
  .cartav2 {
    width: 191px;
    height: 211px;
  }
  .cartav3 {
    width: 191px;
    height: 211px;
  }
  .miny-carta-v4 {
    width: 157px;
  }
  .miny-carta-v1 {
    width: 157px
  }
  .cartav1 {
    width: 191px;
    height: 211px;
  }
  .content-v1-miny-carta {
    font-family: Open Sans;
    font-size: 12px;
  }
  .btn-carta {
    padding: 4px 4px 6px 4px;
    font-size: 9px;
  }
}
@media (max-width: 380px) {
  .wrapper{
    max-width: 100%;
  }
  .forma-calculator_flex-calculator {
    width: 230px;
  }
  .social-link_know-more {
    width: 230px;
  }
  .com-sl_item1 {
    width: 98px;
    height: 77px;
  }
  .sticker1 {
    width: 91px;
    height: 37px;
  }
  .sticker2 {
    width: 60px;
    height: 60px;
  }
  .sticker3 {
    width: 84px;
    height: 49px;
  }
  .sticker4 {
    width: 75px;
    height: 36px;
  }
  .sticker5 {
    width: 78px;
    height: 48px;
  }
  .sticker6 {
    width: 59px;
    height: 72px;
  }
  .sticker7 {
    width: 87px;
    height: 20px;
  }
}
@media (max-width: 350px) {
  .wrapper{
    max-width: 100%;
  }
  .offbit {
    font-size: 100px;
  }
  .descr1 {
    margin-top: -77px;
    font-size: 14px;
  }
  .descr2 {
    font-size: 14px;
  }
  .descr3 {
    font-size: 12px;
  }
  .answer-question_block-paper {
    width: 280px;
  }
  .items_question-block-block {
    width: 181px;
  }
  .offbit::before {
    top: 10px;
    left: -25%;
    background-size: 50%;
  }
}
@media (max-width: 1000px) {
  .cart-box {
    width: 100%;
  }
}

@media(max-width: 330px){
  .wrapper{
    max-width: 100%;
  }
  .human-descr {
    width: 156px;
  }
  .dscr-com {
    margin-left: 20px;
  }
}

/* .section-title_text-colabour {
  font-family: 'Playfair Display', serif;
  color: #1c1c1c;
  font-size: 36px;
  font-weight: 700;
  z-index: 10;
  margin-top: 145px;
  margin-left: 0px;
  position: relative;
} */

